/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



 /* Optional: Makes the sample page fill the window. */
 html, body {
   font-family: 'Clicker Script', cursive;
   height: 100%;
   margin: 0;
   padding: 0;
 }

 body {
   /*background-image: url('felix-russell-saw-167176_web.png');*/
   background-color: #303b4c;
   background-size:cover;
   /*background-repeat: no-repeat;*/

 }

 h1 {
   font-size: 100px;
   text-align: center;
   margin: 15px;
 }

h2 {
  padding: 0;
  text-align: center;
  font-size: 44px;
  color: #BA9F4A;
  margin: 0;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}


 /* Always set the map height explicitly to define the size of the div
  * element that contains the map. */
 #map {
   margin: auto;
   height: 80%;
   width: 80%;
 }

 #logo img {
   width: 600px;
   background-position: center;
   display: block;
   margin-left: auto;
   margin-right: auto;
   padding-top: 50px;
   padding-bottom: 20px;
 }



.parallax {
  perspective: 1px;
  /*height: 100vh;*/
  overflow-x: hidden;
  overflow-y: auto;
  /* The image used */
  background-image: url("food/annie-spratt-44241.jpg");

  /* Set a specific height */
  height: 880px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax__layer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
  /*background-image: url("food/annie-spratt-44241.jpg");*/
  width: auto;
}

.parallax__footer {
  perspective: 1px;
  /*height: 100vh;*/
  overflow-x: hidden;
  overflow-y: auto;
  /* The image used */
  background-image: url("food/karlis-dambrans-117428.jpg");

  /* Set a specific height */
  height: 400px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#range {
  text-align: center;
  color: #BA9F4A;
  font-size: 35px;
  padding: 0;
  margin: 0;
}

#fifty {
  width: 80px;
  background-position: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slider {
  background-position: center;
  text-align: center;
  color: #BA9F4A;
}

 table, th, td, thead th, thead td, tfoot th, tfoot td {
    text-align: center;
    /*color: white;*/
    background: none;
    border: 2px solid #282828;
}

#tables {
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  width: 640px; /*can be in percentage also.*/
  /*height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;*/
}

table {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}


.one {
  width: 300px;
  display:inline-block;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  background-position: center;
  padding-bottom: 0px;
  height: auto;
  background-color: #181818;
  background-size: auto;
}

.two {
  width: 300px;
  display:inline-block;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  background-position: center;
  padding-bottom: 0px;
  height: auto;
  background-color: #181818;
  background-size: auto;
}

td {
  font-size: 16px;
  background-color: none;
  /*line-height: 0.5px;*/
  height: 0px;
}

thead {
  max-width: auto;
  font-size: 16px;
  background-color: none;
}

th {
  background-color: none;
  padding-bottom: 10px;
}
