<!-- <%= form_for [@year, @rank] do |f| %>
  <div class="form-element">
    <%= f.label :rating, "This playlist's rating:" %>
    Not For Me <%= f.range_field :rating, in: 1..5 %> Loved It
  </div>
<%= end %> -->
