<h1>Chez Monde</h1>

<div id="map"></div>
  <script>
  var map;
  // var image = 'http://www.turcuisine.com/images/fork.svg';

  function plotMarkers(m)
  {
    debugger;
    markers = [];
    bounds = new google.maps.LatLngBounds();
    m.forEach(function (marker) {

      var position = new google.maps.LatLng(marker.latitude, marker.longitude);

      markers.push(
        new google.maps.Marker({
          position: position,
          map: map,
          title: marker.name,
          animation: google.maps.Animation.DROP,
          rank: marker.rank,
          year: marker.year,
          chef: marker.chef
        })

      );
      bounds.extend(position);
    });

    map.fitBounds(bounds);
  }
  function infowindows() {
    markers.forEach((marker) => {
      console.log(marker);
      var contentString = '<div id="content">'+
              '<div id="siteNotice">'+
              '</div>'+
              '<h1 id="firstHeading" class="firstHeading">' + `${marker.title}` + '</h1>'+
              '<div id="bodyContent">'+
              '<p>Chef(s):' + ` ${marker.chef}` + '</p>'+
              '<p>Rank: ' + `${marker.rank}` + '</p>'+
              '<p>Year: ' + `${marker.year}` + '</p>'+
              '</div>'+
              '</div>';

      var infowindow = new google.maps.InfoWindow({
        content: contentString
      });

      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });
    })


  };

  function initMap() {
    fetch("/api/v1/markers/",
      { credentials: "include"})
      .then((response) => {
        let restaurants = response.json();
        return restaurants;

      })
      .then(plotMarkers)
      .then(infowindows)


      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 2,
        center: {lat: 0.865427, lng: 0.196123},
        mapTypeId: 'satellite'
      });

      var markers;
      var bounds;
      var infowindow;

      // markers.forEach(function (marker) {
      //   // var contentString = '<div id="content">'+
      //   //       '<div id="siteNotice">'+
      //   //       '</div>'+
      //   //       '<h1 id="firstHeading" class="firstHeading">#{marker.name}</h1>'+
      //   //       '<div id="bodyContent">'+
      //   //       '<p>Chef(s): #{marker.chef}</p>'+
      //   //       '<p>Rank: #{marker.rank}</p>'+
      //   //       '<p>Year: #{marker.year}</p>'+
      //   //       '</div>'+
      //   //       '</div>';
      //   //
      //   var infowindow = new google.maps.InfoWindow({
      //     content: "Can you see me?"
      //   });
      //
      //
      //   marker.addListener('click', function() {
      //     infowindow.open(map, marker);
      //   });
      // }
    }

    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvQXI9xAei5zfhdUNVSEb31tSVV5s5_fw&libraries=visualization&callback=initMap">
    </script>

    <br>
    <br>
    <br>
    <br>

    <table className="one">
      <thead>
        <tr>
           <th>2016 Restaurants </th>
        </tr>
      </thead>
      <tbody>
          <% @restaurants2016.each_with_index do |restaurant, index| %>
          <tr>
            <td><%= index + 1 %>. <%= restaurant.name %></td>

          </tr>
          <% end %>
      </tbody>
    </table>

    <table className="two">
      <thead>
        <tr>
           <th>2017 Restaurants </th>
        </tr>
      </thead>
      <tbody>
          <% @restaurants2017.each_with_index do |restaurant, index| %>
          <tr>

            <td><%= index + 1 %>. <%= restaurant.name %></td>

          </tr>
          <% end %>
      </tbody>
    </table>
