<div class="parallax">
  <div class="parallax__layer parallax__layer--back">
  </div>
  <div class="parallax__layer parallax__layer--base">
    <div id="logo">
      <img src=<%= image_url("logos/Chez_Monde_03-02.png") %> />
    </div>
  </div>
</div>

<div style="height:800px;background-color: #303b4c;">
<br>
<br>
<h2>A Map of The World's</h2>
<h2> 50 Best Restaurants</h2>
<br>
<br>
<h3 id="range">2017</h3>
<div class="slider">
  <span>2010</span>
  <input type="range" min="2010" max="2017" value="2017" step="1" onchange="showValue(this.value)" />
  <span>2017</span>
  <script type="text/javascript">

  function showValue(newValue)
  {
  	document.getElementById("range").innerHTML=newValue;
  }
  </script>
</div>

<br>

  <div id="map"></div>
    <script>
    var map;

    function plotMarkers(m)
    {
      var rank = 0
      markers = [];
      var gradientPins = [
        '/assets/Gradient-Pins-v1/Marker_1.png',
        '/assets/Gradient-Pins-v1/Marker_2.png',
        '/assets/Gradient-Pins-v1/Marker_3.png',
        '/assets/Gradient-Pins-v1/Marker_4.png',
        '/assets/Gradient-Pins-v1/Marker_5.png',
        '/assets/Gradient-Pins-v1/Marker_6.png',
        '/assets/Gradient-Pins-v1/Marker_7.png',
        '/assets/Gradient-Pins-v1/Marker_8.png',
        '/assets/Gradient-Pins-v1/Marker_9.png',
        '/assets/Gradient-Pins-v1/Marker_10.png',
        '/assets/Gradient-Pins-v1/Marker_11.png',
        '/assets/Gradient-Pins-v1/Marker_12.png',
        '/assets/Gradient-Pins-v1/Marker_13.png',
        '/assets/Gradient-Pins-v1/Marker_14.png',
        '/assets/Gradient-Pins-v1/Marker_15.png',
        '/assets/Gradient-Pins-v1/Marker_16.png',
        '/assets/Gradient-Pins-v1/Marker_17.png',
        '/assets/Gradient-Pins-v1/Marker_18.png',
        '/assets/Gradient-Pins-v1/Marker_19.png',
        '/assets/Gradient-Pins-v1/Marker_20.png',
        '/assets/Gradient-Pins-v1/Marker_21.png',
        '/assets/Gradient-Pins-v1/Marker_22.png',
        '/assets/Gradient-Pins-v1/Marker_23.png',
        '/assets/Gradient-Pins-v1/Marker_24.png',
        '/assets/Gradient-Pins-v1/Marker_25.png',
        '/assets/Gradient-Pins-v1/Marker_26.png',
        '/assets/Gradient-Pins-v1/Marker_27.png',
        '/assets/Gradient-Pins-v1/Marker_28.png',
        '/assets/Gradient-Pins-v1/Marker_29.png',
        '/assets/Gradient-Pins-v1/Marker_30.png',
        '/assets/Gradient-Pins-v1/Marker_31.png',
        '/assets/Gradient-Pins-v1/Marker_32.png',
        '/assets/Gradient-Pins-v1/Marker_33.png',
        '/assets/Gradient-Pins-v1/Marker_34.png',
        '/assets/Gradient-Pins-v1/Marker_35.png',
        '/assets/Gradient-Pins-v1/Marker_36.png',
        '/assets/Gradient-Pins-v1/Marker_37.png',
        '/assets/Gradient-Pins-v1/Marker_38.png',
        '/assets/Gradient-Pins-v1/Marker_39.png',
        '/assets/Gradient-Pins-v1/Marker_40.png',
        '/assets/Gradient-Pins-v1/Marker_41.png',
        '/assets/Gradient-Pins-v1/Marker_42.png',
        '/assets/Gradient-Pins-v1/Marker_43.png',
        '/assets/Gradient-Pins-v1/Marker_44.png',
        '/assets/Gradient-Pins-v1/Marker_45.png',
        '/assets/Gradient-Pins-v1/Marker_46.png',
        '/assets/Gradient-Pins-v1/Marker_47.png',
        '/assets/Gradient-Pins-v1/Marker_48.png',
        '/assets/Gradient-Pins-v1/Marker_49.png',
        "/assets/Gradient-Pins-v1/Marker_50.png",
      ]
      bounds = new google.maps.LatLngBounds();
      m.forEach(function (marker) {
        var icon = {
          url: String(gradientPins[rank]),
          scaledSize: new google.maps.Size(21, 35)
        };
        rank += 1;
        var position = new google.maps.LatLng(marker.latitude, marker.longitude);

        markers.push(
          new google.maps.Marker({
            position: position,
            map: map,
            title: marker.name,
            animation: google.maps.Animation.DROP,
            address: marker.address,
            chef: marker.chef,
            rank: rank,
            icon: icon,
            city: marker.city,
            country: marker.country
          })

        );
        bounds.extend(position);
      });
      infowindows(markers);
      map.fitBounds(bounds);
    }
    function infowindows(m) {

      m.forEach((marker) => {

        var contentString = '<div id="content">'+
                '<div id="siteNotice">'+
                '</div>'+
                '<h3>' + `${marker.title}` + '</h3>'+
                '<div id="bodyContent">'+
                '<p>Chef(s):' + ` ${marker.chef}` + '</p>'+
                `<p>Rank: ` + `${marker.rank}` + '</p>'+
                '<p>Address: ' + `${marker.address}` + '</p>' + '<p>City/Country: ' + `${marker.city}` + `, ${marker.country}` + '</p>'+
                '</div>'+
                '</div>';

        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });

        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      })


    };

    function initMap() {
      fetch("/api/v1/markers/",
        { credentials: "include"})
        .then((response) => {
          let restaurants = response.json();
          return restaurants;

        })
        .then(plotMarkers);

        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 2,
          center: {lat: 0.865427, lng: 0.196123},
          mapTypeId: 'satellite'
        });

        var markers;
        var bounds;
        var infowindow;

      }

      </script>
      <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvQXI9xAei5zfhdUNVSEb31tSVV5s5_fw&libraries=visualization&callback=initMap">
      </script>


</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="logos-outer">
  <div class="logos">
    <a href="http://jonathanbraun.wordpress.com/"><img id="fifty" src=<%= image_url("icon-wordpress-grey.png") %> /></a>
    <a href="http://www.theworlds50best.com/"><img id="fifty" src=<%= image_url("logo-worlds50best.png") %> /></a>
    <br>
    <a href="https://github.com/JonathanBraun/chez-monde"><img id="fifty" src=<%= image_url("github-10-xxl.png") %> /></a>
  </div>
</div>
<br>
